.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: "Mountains of Christmas", cursive;
  font-size: 5rem;
  font-weight: bold;
  color: silver;
}

.App {
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  width: 80%;
  margin: auto;
  color: goldenrod;
  font-family: "Emilys Candy", cursive;
  letter-spacing: 3px;
  padding: 2%;
}

.added-person {
  color: silver;
  font-size: 1.2rem;
}

.added-name {
  font-size: 1.4rem;
  font-weight: 800;
}

.input-field {
  width: 40%;
  margin: 1%;
}

.myButton {
  background-color: transparent;
  border-radius: 6px;
  border: 1px solid #b2b8ad;
  display: inline-block;
  cursor: pointer;
  color: silver;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
}
.myButton:hover {
  background-color: transparent;
}
.myButton:active {
  position: relative;
  top: 1px;
}
